#help{
    background-color:#f6f6f6;
    overflow-x: hidden;
    overflow-y:auto;
    position: absolute;
    top: 0;
    bottom : 0;
    left : 0;
    right: 0;

    >.content{
        width:100%;
        padding-top:58px;
        >form{
            width:100%;
            >.title{
                position: relative;
                margin-bottom:10px;
                >#title{
                    font-size:14px;
                    padding:20px 13px 0 13px;
                    width:100%;
                    height:170px;
                    background-color:#ffffff;
                    &::placeholder{
                        font-size:14px;
                        color:#8D9099;
                    }
                }
              
                >.user-num{
                    color:#CCCCCC;
                    font-size:12px;
                    position: absolute;
                    right:13px;
                    bottom:11.5px;
                    &.active{
                        >span{
                            color: #FF5656;
                        }
                    }
                }
            }
            >.btn{
                text-align: center;
                color:#FFFFFF;
                font-size:15px;
                width:250px;
                height:40px;
                line-height: 40px;
                background:rgba(255,86,86,1);
                border-radius:5px;
                margin:0 auto;
                margin-top:40px;
            }
        }
        .pic{
            width:100%;
            overflow: hidden;
            background-color:#ffffff;
            padding:15px 12px 10px 12px;
            >.add-pic{
                >div{
                    float: left;
                    width:113px;
                    height:75px;
                    position: relative;
                    margin-bottom:15px;
                   
                    >img{
                        width:100%;
                        height:100%;
                        border-radius:5px;
                    }
                    >.cancle{
                        position: absolute;
                        top:-3px;
                        right:0;
                        >img{
                            width:17px;
                            height:17px;
                        }
                    }
                }
                >div:nth-child(1){
                    margin-right:6px;
                }
                >div:nth-child(2){
                    margin-right:6px;
                }
            }
            .add{
                text-align: center;
                float: left;
                width:113px;
                height:75px;
                border:1px dashed #999999;
                padding-top:15px;
                position: relative;
                >p{
                    color:#82858E;
                    font-size:12px;
                }
                >input{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    width:113px;
                    height:75px;
                }
                >img{
                    display: block;
                    width:25px;
                    height:25px;
                    margin:0 auto;
                }
            }
        }
    }
    >.help-bottom{
        width:100%;
        height:auto;
       padding:0 12px 20px 12px;
       margin-top:80px;
       background-color:#f6f6f6;
        &:after{
            display: block;
            content: '';
            clear: both;
        }
        >.help-emil{
            float: left;
            >div:first-child{
                margin-bottom:16px;
            }
            >div{
                >img{
                    width:17px;
                    height:17px;
                    margin-right:9px;
                }
                >span{
                    color:#8D9099;
                    font-size:12px;
                }
            }
        }
        >.help-btn{
            margin-right:12px;
            float: right;
            text-align: center;
            width:100px;
            height:40px;
            line-height: 38px;
            border-radius:5px;
            border:1px solid #E1E2E6;
            background-color:#ffffff;
            margin-top:8px;
        }
    }
}