#userInfo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    >.user-list{
        margin-top:65px;
        >.user-pic{
            width:100%;
            text-align: center;
            margin-bottom:42px;
            >img{
                width:80px;
                height:80px;
                border-radius:50%;
            }
        }
        >ul{
            width:100%;
            overflow: hidden;
            margin-top:48px;
            >li{
                position: relative;
                padding:0 12px 0 12px;
                width:100%;
                height:50px;
                background-color:#ffffff;
                &:after{
                    content: '';
                    display: block;
                    clear: both;
                    position: absolute;
                    left:12px;
                    bottom:0;
                    width:100%;
                    height:1px;
                    background:rgba(225,226,230,1);
                }
               
                >p{
                    color:#242833;
                    font-size:14px;
                    line-height: 50px;
                }
                >div{
                    overflow: hidden;
                    >span{
                        display: inline-block;
                        margin-right:10px;
                        line-height: 50px;
                        font-size:17px;
                        color:#8D9099;
                    }
                    >.list-arrow{
                        display:block;
                       width:12px;
                       height:12px;
                      margin-top:21px;
                    }
                }
               
            }
        }
        >.hobby{
            padding: 5px;
            width: 100%;
            overflow-x: scroll;
            white-space: nowrap;
            >ul{
                margin-top: 20px;
                height: 30px;
                >li{
                    width: 68px;
                    height: 30px;
                    border-radius: 4px;
                    border: 1px dotted #82858E;
                    font-size: 14px;
                    color: #242833;
                    text-align: center;
                    line-height: 30px;
                    margin-left: 18px;
                    display: inline-block;
                    &.active{
                        color: #FF5656;
                        border: 1px solid #FF5656;
                    }
                }
            }
        }
    }
}