#wishListHome{
    width:100vw;
    height:100vh;
    background-color:#F6F6F6;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    >.content{
        position: absolute;
        top: 89px;
        bottom: 55px;
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling : touch;
        >ul{
            position: relative;
            background-color:#ffffff;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100%;
            padding-bottom: 100px;
            >li{
                &:not(:last-child):after{
                    content: '';
                    display: block;
                    clear: both;
                    position: absolute;
                    left:53px;
                    bottom:0;
                    width:322px;
                    height:1px;
                    background-color:#E1E2E6;
                }
                &.active{
                    left: -130px;
                }
                width: calc(100% + 65px);
                height:50px;
                line-height: 50px;
                position: relative;
                background-color: #ffffff;
                // border-bottom:1px solid #E1E2E6;
                transition: all 0.3s;
                left: 0;
                >.L-content{
                   
                    width: 10rem;
                    &:after{
                        content: '';
                        display: block;
                        clear: both;
                    }
                    >.L-icon{
                        width:20px;
                        height:20px;
                       margin:16px 17px 14px 15px;
                    }>.C-text{
                        width:80%;
                       
                        >.L-title{
                            font-size:14px;
                            height: 50px;
                            line-height: 50px;
                            >.input-text{
                                width:100%;
                                height: 50px;
                               
                                >input{
                                    width:100%;
                                    height: 50px;
                                    line-height: 1;
                                    padding: 0 18px;
                                 }
                            }
                           
                        }
                        >.is-top{
                            font: size 13px;
                            position: absolute;
                            width: 65px;
                            background-color: #8F82BC;
                            height: 100%;
                            right:0;
                            top: 0;
                            color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }     
                        >.delete{
                            font-size:13px;
                            position: absolute;
                            width: 65px;
                            background-color: #d44c45;
                            height: 100%;
                            right: -65px;
                            top: 0;
                            color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }     
                    }
                   
                }
                
            }
        }
        >.none{
            height: 100%;
            background-color: #fff;
            overflow: hidden;
        }
    }
    >.add{
        font-size:45px;
        text-align: center;
        line-height: 55px;
        color:#ffffff;
        position: fixed;
        right:17px;
        bottom:70px;
        width:65px;
        height:65px;
        border-radius:50%;
        background-color:#FF5656;
        z-index:999;
    }
    >.time{
        width:100%;
        height:55px;
        position: fixed;
        left:0;
        bottom:0;
        background-color:#ffffff;
        overflow-x: auto;
        overflow-y: hidden;
        border-top: 1px solid #E1E2E6;
        >.time-box{
            width: 425px;
            &:after{
                display: block;
                content:"";
                clear: both;
            }
            >div{
                text-align:center;
                font-size:14px;
                color:#242833;
                width:61px;
                height:27px;
                margin:14px 12px;
                line-height: 25px;
                border-radius:4px;
                border:1px solid #242833;
                float: left;
               
            }
            >.active{
                color:#ffffff;
                width:65px;
                height:55px;
                margin: 0 10px;
                line-height: 55px;
                border:1px solid #FF5656;
                background-color:#FF5656;
                border-radius: 0;
            }
        }
        
    }
    >.input-text{
        text-align: center;
        width:100%;
        overflow: hidden;
        padding-top:48px;
        background-color: #f6f6f6;
        // margin-top:48px;
        >input{
            font-size:17px;
            display: block;
            width: 100%;
            text-align: center;
            padding: 0 15px;
            height:41px;
            line-height: 1;
            background-color: #f6f6f6; 
        }
        input::-webkit-input-placeholder{
            font-size:17px;
            color:#242833;
        }  
        input:-moz-placeholder{
            font-size:17px;
            color:#242833;
            }      
        input::-moz-placeholder{
            font-size:17px;
            color:#242833;
            }             
        input:-ms-input-placeholder{
            font-size:17px;
            color:#242833;
        } 
    } 
    .tishi{
        padding-top:87.5px;
        height:83vh;
    }
}
